.header {
  margin: 10px;
}
.top-menu a {
  margin: 0 5px 0 0;
  text-decoration: none;
}
.content {
  margin: 10px;
}
.err {
  color: brown;
  font-family: monospace;
  margin-top: 5px;
  font-size: 12px;
}